# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable relative-numbers': 'relative-numbers:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'relative-numbers'
      'submenu': [
        { 'label': 'Toggle', 'command': 'relative-numbers:toggle' }
      ]
    ]
  }
]
